datasets~=3.0.0
pydantic~=2.9.2
pytrec_eval~=0.5
typing_extensions~=4.12.2
numpy==1.26.4
torch~=2.2.2
torchvision
nltk~=3.9.1
sentence-transformers==3.1.1
transformers==4.45.2
openai~=1.47.1
numpy==1.26.4
pandas==2.2.2
tqdm==4.67.1
python-dotenv
scikit-learn
transformers==4.45.2
huggingface_hub
rank_bm25
flash-attn